# Zahlen

`begin calculator`

In [1]:
# Kommentare beginnen mit # und werden vom Interpreter ignoriert
# Grundrechenarten funktionieren wie erwartet
100 + 1

101

In [2]:
# Punkt geht vor Strichrechnung
2+3*4

14

In [3]:
(2+3)*4

20

In [4]:
# Mit Division verlassen wir die natürlichen Zahlen
3/2

1.5

In [5]:
4/2  # Division liefert immer eine Gleitkommazahl

2.0

In [6]:
# Potenzen mit **
2**10

1024

In [7]:
1.024e3  # Kurzschreibweise für Zehnerpotenzen

1024.0

`end`

`begin number_types`

In [8]:
type(32)

int

In [9]:
type(32.5)

float

`end`

`begin assignment`

In [10]:
x = 7 # Variable anlegen und zuweisen mit =
1/x + x

7.142857142857143

In [11]:
x += 1  # entspricht x = x + 1
x

8

In [12]:
x *= 2  # x = x * 2
x

16

`end`

`begin unlimited`

In [13]:
2**2000

114813069527425452423283320117768198402231770208869520047764273682576626139237031385665948631650626991844596463898746277344711896086305533142593135616665318539129989145312280000688779148240044871428926990063486244781615463646388363947317026040466353970904996558162398808944629605623311649536164221970332681344168908984458505602379484807914058900934776500429002716706625830522008132236281291761267883317206598995396418127021779858404042159853183251540889433902091920554957783589672039160081957216630582755380425583726015528348786419432054508915275783882625175435528800822842770817965453762184851149029376

In [14]:
#!2.0**2000
print("OverflowError: (34, 'Result too large')")#!

OverflowError: (34, 'Result too large')

`end`

# Booleans

`begin bool_literal`

In [15]:
a_bool = True
another_bool = False
type(a_bool)

bool

`end`

`begin bool_comparisons`

In [16]:
3.14 < 3

False

In [17]:
-1/12 >= 0

False

In [18]:
6 * 69 == 420  # Gleich

False

In [19]:
0.33333333333333 != 1/3  # Ungleich

True

In [20]:
x = 12
# Vergleichsoperatoren können verkettet werden
10 <= x < 20

True

In [21]:
# Achtung: Unterschied Zuweisung = und Vergleich ==
is_eight = x == 8
print(is_eight)

False

`end`

`begin bool_operations`

In [22]:
# Einige Annahmen über Sie
is_engineer = True
needs_to_program = False
wants_to_program = True
afraid_of_snakes = False
# Könnte Sie dieses Buch interessieren?
potential_reader = is_engineer and (needs_to_program or wants_to_program) and not afraid_of_snakes
print(potential_reader)

True

In [23]:
# Wahrheitsverknüpfungen haben die allerniedrigste Präzedenz,
# d. h. was links und rechts steht wird zuerst ausgewertet
# --> spart Klammern
x = 42
x > 10 or x < -10

True

`end`

# Typen

`begin number_constructor`

In [24]:
int(42)  # Erstellt ein int mit Wert 42

42

In [25]:
int(42.5) # Konvertiert float zu int

42

In [26]:
float(42)

42.0

In [27]:
bool(1)  # 0 entspricht False, alles andere True

True

`end`

`begin datetime_constructor`

In [28]:
# Kalenderfunktionen liegen in separatem "Modul" und
# müssen importiert werden
from datetime import datetime
sw = datetime(1977, 5, 25, 19, 0)

`end`

`begin datetime_attributes`

In [29]:
sw.year

1977

In [30]:
sw.hour

19

`end`

`begin datetime_methods`

In [31]:
sw.weekday()  # Berechne Wochentag (Mittwoch)

2

In [32]:
# Gib datetime als Text in spezifiziertem Format aus
sw.strftime("%A, %m. %B %Y, %H:%M")

'Wednesday, 05. May 1977, 19:00'

`end`

`begin obj_eq`

In [33]:
date2 = datetime(1977, 5, 25, 19, 0)

In [34]:
sw == date2  # Objekte sind inhaltlich gleich

True

In [35]:
sw is date2  # Identitäten (Speicherstellen) sind unterschiedlich

False

`end`

# Listen

`begin list_def`

In [36]:
# Listenelemente in [] schreiben und mit Kommata trennen
numbers = [1, 2, 789, 4]
# Listen können beliebige Typen enthalten
booleans = [True, False, False, True]
# Auch gemischt und geschachtelt
# Achtung: Davon ist meistens abzuraten
chaos = [3.14, True, 4, [1, 2, 3], False]

`end list_def`

`begin list_read`

In [37]:
numbers[2]

789

In [38]:
chaos[3][1]

2

In [39]:
# Negative Indizes zählen von hinten
numbers[-1]

4

In [40]:
# Listenindizes werden auf Intervall geprüft
# Fehler, denn numbers hat nur 4 Elemente (Indizes 0 bis 3)
#!numbers[4]
print("IndexError: list index out of range")#!

IndexError: list index out of range

`end`

`begin list_write`

In [41]:
numbers[2] = 3
numbers

[1, 2, 3, 4]

`end`

`begin list_trap`

In [42]:
a = [1, 2, 3]
# b verweist auf die gleiche Liste wie a
b = a
# Ändere ersten Eintrag
b[0] = 7
b # ist erwartungsgemäß anders

[7, 2, 3]

In [43]:
a # ist die gleiche Listeninstanz und damit auch verändert

[7, 2, 3]

`end`

`begin list_copy`

In [44]:
# Funktion list(...) mit Liste als Argument kopiert diese
c = list(a)
c[2] = 99  # Ändere letztes Argument
c

[7, 2, 99]

In [45]:
a  # ist unverändert

[7, 2, 3]

`end`

`begin list_slices`

In [46]:
fib = [0, 1, 1, 2, 3, 5, 8, 13]
# Teilliste von 0 (inkl.) bis 4 (exkl.)!
# Indizes sind also 0, 1, 2, 3
fib[0:4]

[0, 1, 1, 2]

In [47]:
# Obere und untere Grenze kann ausgelassen werden
fib[:4]

[0, 1, 1, 2]

In [48]:
fib[4:]

[3, 5, 8, 13]

In [49]:
# Alles, außer erstes und letztes Element
fib[1:-1]

[1, 1, 2, 3, 5, 8]

In [50]:
# Schrittweite angeben mit [start:stop:step]
fib[0:7:2]

[0, 1, 3, 8]

In [51]:
# Auslassen geht natürlich immer noch
fib[::-1]

[13, 8, 5, 3, 2, 1, 1, 0]

In [52]:
# Slicing funktioniert auch auf linker Seite einer Zuweisung
fib[4:] = fib[:4]
fib

[0, 1, 1, 2, 0, 1, 1, 2]

`end`

`begin list_more`

In [53]:
a = [5, 6, 7, 8, 9]
a + [10, 11, 12]  # Zwei Listen aneinanderfügen

[5, 6, 7, 8, 9, 10, 11, 12]

In [54]:
len(a)  # Länge einer Liste

5

In [55]:
7 in a  # Ist Element in Liste enthalten?

True

In [56]:
del a[3]  # Element mit Index entfernen (kann auch Slices)
a

[5, 6, 7, 9]

In [57]:
a.pop(2)  # Element mit Index entfernen und zurückgeben

7

In [58]:
a

[5, 6, 9]

In [59]:
a.remove(5)  # Element mit bestimmtem Wert entfernen
a

[6, 9]

In [60]:
a.append(10)  # Element an Ende anhängen
a

[6, 9, 10]

In [61]:
a.insert(1, 7)  # Element an Index einfügen
a

[6, 7, 9, 10]

`end`

`begin str_def_old`

In [62]:
doppelt = "Ich bin ein String."
einfach = 'Ich auch!'

In [63]:
# Strings sind mit UTF-8 codiert und unterstützen Unicode
titel = "🐍 für 🛠"

`end`

`begin str_def`

In [64]:
doppelt = "Ich bin ein String."
einfach = 'Ich auch!'

`end`

`begin str_ops`

In [65]:
doppelt + " " + einfach  # Zusammenfügen mit +

'Ich bin ein String. Ich auch!'

In [66]:
einfach[0]

'I'

In [67]:
einfach[::-1]

'!hcua hcI'

`end`

`begin print`

In [68]:
print("Hallo Python!")

Hallo Python!

In [69]:
print("Wie darf ich Sie nennen?")
#!name = input()
#!print("Herzlich Willkommen, " + name + "!")
print("Daniel Düsentrieb") #!
print("Herzlich Willkommen, Daniel Düsentrieb!") #!

Wie darf ich Sie nennen?
Daniel Düsentrieb
Herzlich Willkommen, Daniel Düsentrieb!

`end`

`begin fstrings`

In [118]:
x = 905
f"Sie haben {x} ungelesene E-Mails!"

'Sie haben 905 ungelesene E-Mails!'

`end`

In [70]:
type((1, 2))

tuple

`begin tuple_def`

In [71]:
size = (1920, 1080)  # Tupel mit zwei Einträgen

In [72]:
# Tupel mit Elementen unterschiedlichen Typs sind sehr üblich,
# per Konvention legt man fest, was wo zu erwarten ist
var_x = ('x', 'm/s', [3, 3.1, 3.4, 3.2])

In [73]:
# Indexierung wie bei Listen
var_x[1]

'm/s'

In [74]:
# Einige Listenfunktionen gehen auch, solange sie die
# Größe und den Inhalt nicht verändern
len(var_x)

3

`end`

`begin tuple_destruct`

In [75]:
var_name, var_unit, var_values = var_x

In [76]:
var_unit

'm/s'

`end`

`begin tuple_special`

In [77]:
empty_tuple = ()  # Das leere Tupel

In [78]:
one_tuple = (4,)  # Tupel mit einem Eintrag

In [79]:
four, = one_tuple  # 1-Tupel "zerlegen"
four

4

`end`

`begin dict_def`

In [80]:
# Definition in geschweiften Klammern nach dem Schema "key: value"
dict_x = {'name': 'x', 'unit': 'm/s', 'values': [3, 3.1, 3.4, 3.2]}
# Lesen und Schreiben jetzt über die Schlüssel
dict_x['unit']

'm/s'

In [81]:
dict_x['values'].append(3.3)
dict_x

{'name': 'x', 'unit': 'm/s', 'values': [3, 3.1, 3.4, 3.2, 3.3]}

In [82]:
# Als Schlüssel können beliebige Konstanten dienen
wavelengths = {450: 'blau', 520: 'grün', 590: 'gelb', 620: 'orange', 650: 'rot'}

`end`

`begin dict_more`

In [83]:
# Neue Elemente können jederzeit hinzugefügt werden
wavelengths[400] = 'violett'
wavelengths

{450: 'blau',
 520: 'grün',
 590: 'gelb',
 620: 'orange',
 650: 'rot',
 400: 'violett'}

In [84]:
# Löschen wie bei Listen
del wavelengths[620]
wavelengths

{450: 'blau', 520: 'grün', 590: 'gelb', 650: 'rot', 400: 'violett'}

In [85]:
# Existenz von Schlüsseln prüfen
'name' in dict_x

True

In [86]:
len(dict_x)  # Anzahl von Einträgen

3

In [87]:
dict_x.keys()  # Alle Schlüssel

dict_keys(['name', 'unit', 'values'])

In [88]:
dict_x.values()  # Alle Werte

dict_values(['x', 'm/s', [3, 3.1, 3.4, 3.2, 3.3]])

In [89]:
dict_x.items()  # Einträge als Tupel von Schlüssel und Wert

dict_items([('name', 'x'), ('unit', 'm/s'), ('values', [3, 3.1, 3.4, 3.2, 3.3])])

`end`

`begin if_def`

In [90]:
#!if bedingung:
    # Führe aus, wenn bedingung wahr
#!elif alternativ_bedingung_1:
    # Führe aus, wenn vorherige Bedingung nicht zutrifft
    # und alternativ_bedingung_1 wahr
#!elif alternativ_bedingung_2:
    # Führe aus, wenn vorherige Bedingungen nicht zutreffen
    # und alternativ_bedingung_2 wahr
#!else:
    # Führe aus, wenn keine der vorherigen Bedingungen zutreffen

`end`

`begin if_temp`

In [91]:
temperatur = 20

if temperatur < 15:
    print('Zu kalt, heizen...')
elif temperatur < 25:
    print('Temperatur im Nominalbereich')
else:
    print('Zu heiß, abkühlen...')

Temperatur im Nominalbereich

`end`

`begin line_continuation`

In [92]:
# Variante 1: Impliziter Umbruch in Klammern
#!if (eine_sehr_lange_bedingung and
#!    noch_eine_sehr_lange_bedingung):
#!    ...
#_
# Variante 2: Expliziter Umbruch mit Backslash
#!if eine_sehr_lange_bedingung and \
#!   noch_eine_sehr_lange_bedingung:
#!    ...

`end`

`begin truthy_list`

In [93]:
#!if meine_liste:  # anstelle len(meine_liste) > 0
#!    print('Liste ist nicht leer.')

`end`

`begin while_ex`

In [94]:
commands = [1, 4, 3, "summe 1", 6, 1, "summe 2", "exit", 7, 8, 9]
current_sum = 0

while commands:  # Solange commands noch Elemente enthält
    c = commands.pop(0)
    
    if c == "exit":
        break  # Verlasse Schleife
    elif isinstance(c, str):
        print(c + ": " + str(current_sum))
        current_sum = 0
        continue  # Springe zum Schleifenanfang
    
    current_sum += c

summe 1: 8
summe 2: 7

`end`

`begin for_in`

In [95]:
measurements = [2.4, 1.7, 0.8, 1.1]
for length in measurements:
    print(length)

2.4
1.7
0.8
1.1

`end`

`begin for_unit`

In [96]:
measurements = [2.4, 1.7, 0.8, 1.1]
units = ['ft', 'cm', 'm', 'ft']
unit_scales = {'m': 1, 'cm': 0.01, 'ft': 0.3048}
for i, length in enumerate(measurements):
    print(str(i) + ': ' + str(length * unit_scales[units[i]]) + ' m')

0: 0.7315200000000001 m
1: 0.017 m
2: 0.8 m
3: 0.33528 m

In [97]:
#_
# Alternative: zip(a, b) gibt eine Sequenz von Tupeln, mit den
# Einträgen aus a und b paarweise kombiniert
for length, unit in zip(measurements, units):
    print(length * unit_scales[unit])

0.7315200000000001
0.017
0.8
0.33528

`end`

`begin for_range`

In [98]:
for n in range(4):  # Iteriere von 0 (inkl.) bis 4 (exkl.)
    print(n**2)

0
1
4
9

In [99]:
for n in range(10, 15):  # Start und Stoppwert angegeben
    print(n**2)

100
121
144
169
196

`end`

# Funktionen

`begin fun_convert`

In [100]:
def convert_length(amount, from_unit):
    units = {'m': 1, 'cm': 1e-2, 'km': 1e3,
             'ft': 0.3048, 'in': 0.0254, 'mi': 1609.34}
    return amount * units[from_unit]

convert_length(2, 'ft')

0.6096

`end`

`begin fun_optional`

In [101]:
def convert_length(amount, from_unit='m', to_unit='m'):
    units = {'m': 1, 'cm': 1e-2, 'km': 1e3,
             'ft': 0.3048, 'in': 0.0254, 'mi': 1609.34}
    if from_unit not in units or to_unit not in units:
        return None  # Frühzeitiger Abbruch
    
    return amount * units[from_unit] / units[to_unit]

convert_length(2, 'ft')  # 2 ft in m?

0.6096

In [102]:
convert_length(2, 'ft', 'cm')  # 2 ft in cm?

60.96

In [103]:
# from_unit hat Standardwert 'm', to_unit wird mit seinem Namen übergeben
convert_length(2, to_unit='ft')  # 2 m in ft?

6.561679790026246

In [104]:
convert_length(2, from_unit='mi', to_unit='km')  # 2 mi in km?

3.21868

In [105]:
# Bei benannten Argumenten ist die Reihenfolge egal
convert_length(from_unit='mi', to_unit='km', amount=2)

3.21868

`end`

`begin fun_pass`

In [106]:
def design_perpetuum_mobile():
    pass

`end`

`begin fun_scoping`

In [107]:
y = 3
def add_y(x):
    # greift lesend auf äußere Variable y zu
    # definiert funktionsinterne Variable z
    z = x + y
    return z
#_
add_y(4)

7

In [108]:
y = 4
# Ändert sich y, ändert sich auch das Verhalten der Funktion
add_y(4)

8

In [109]:
# z ist außerhalb der Funktion nicht zugänglich
#!z
print("NameError: name 'z' is not defined")#!

NameError: name 'z' is not defined

`end`

# Imports

`begin import_math`

In [110]:
import math
math.sin(22/14) # 22/7 ist eine erstaunlich gute Näherung für Pi

0.9999998001333682

`end`

`begin import_as`

In [111]:
import math as m
m.sin((m.sqrt(2) + m.sqrt(3))/2) # π ≈ √2 + √3

0.999997271884531

`end`

`begin import_from`

In [112]:
from math import sin, pi as PI
sin(PI/2)

1.0

`end`

`begin import_all`

In [113]:
from math import *
sin(pi/2)

1.0

`end`

# Fehler

`begin error_colon`

In [114]:
#!x = 7
#!if x != 0
#!    y = 1/x
#!     print(y)
print('  File "example.py", line 2\n    if x != 0\n             ^\nSyntaxError: invalid syntax') #!

  File "example.py", line 2
    if x != 0
             ^
SyntaxError: invalid syntax

`end`

`begin error_indent`

In [115]:
#!x = 7
#!if x != 0:
#!    y = 1/x
#!     print(y)
print('  File "example.py", line 4\n    print(y)\n    ^\nIndentationError: unexpected indent') #!

  File "example.py", line 4
    print(y)
    ^
IndentationError: unexpected indent

`end`

`begin error_def_sum`

In [116]:
def sum(xs):
    sum_result = 0
    for x in xs:
        sum_result += x
    return sum_result

def mean(xs):
    factor = 1/len(xs)  # Skalierungsfaktor 1/n
    return factor * sum(xs)

`end`

`begin error_mean`

In [117]:
#!mean([])
print('---------------------------------------------------------------------------\nZeroDivisionError                         Traceback (most recent call last)\n"app.py" in <module>\n----> 1 mean([])\n"definitions.py" in mean(xs)\n      6 \n      7 def mean(xs):\n----> 8     factor = 1/len(xs)\n      9     return factor * sum(xs)\n\nZeroDivisionError: division by zero')#!

---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
"app.py" in <module>
----> 1 mean([])
"definitions.py" in mean(xs)
      6
      7 def mean(xs):
----> 8     factor = 1/len(xs)
      9     return factor * sum(xs)

ZeroDivisionError: division by zero

`end`